header {
    background-color: rgb(8, 1, 97);
    width: 100vw;
    text-align: center;
    color: white;
    height: 30px;
    max-height: 50px;
    font-size: 24px;
}

h1 {
    font-family: 'Playwrite ES', sans-serif;
    color: blueviolet;
}

.texto {
    color: rgb(251, 255, 13);
}

h2 {
    color: blueviolet;
}

img {
    width: 360px;
    height: 240px;
}

details {
    gap: 30px;
}

body {
    background-image: url(/assets/euevc2.jpg);
    background-repeat: no-repeat;
    background-size: 100vw;
}